# Banxico
BANXICO_TOKEN=tu_token_aqui

# INEGI
INEGI_TOKEN=tu_token_aqui

# PostgreSQL
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=data_warehouse_economia
POSTGRES_USER=postgres
POSTGRES_PASSWORD=tu_password_aqui